<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Trash Talk Generator</title>

  <!-- link css files -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">

  <!-- include fontawesome stylesheets -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional"
      rel="stylesheet">
</head>

<body>

<div style="height: 700px; weight: auto;">

<header>
{{!-- Navigation bar --}}
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <i class="fas fa-book-dead"></i>
    幹話產生器
  </a>
</nav>
</header>

      {{{body}}}

      <!-- link javascript files -->
      <script src="javascripts/jquery-3.3.1.js"></script>
      <script src="javascripts/popper.min.js"></script>
      <script src="javascripts/bootstrap.js"></script>
      <script src="https://kit.fontawesome.com/c8f2260657.js" crossorigin="anonymous"></script>


</body>

</html>